<{% extends 'base.html' %}

{% block title %}Songs{% endblock %}


{% block content %}

    <script>
        $(document).ready(function() {
            $('#example').DataTable(
                {
                    paging: false,
                    "info": false,
                    "order": [ 4, 'desc']
                }
            );
        } );
    </script>

    <div class="container">
        <div class="header">
            <h1>Venues | {{ venues.count }}</h1>
        </div>
        <table id="example" class="table table-striped table-bordered dt-responsive" style="width:100%; cursor:pointer">
            <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Times Played</th>
                <th>Last Played</th>
            </tr>
            </thead>

            <tbody>
            {% for venue in venues %}
                <tr>
                    <td><a href="/venue/">{{ venue.name }}</a></td>
                    <td>{{ venue.city }}</td>
                    <td>{{ venue.state|default_if_none:'' }}</td>
                    <td>{{ venue.country }}</td>
                    <td>{{ venue.show_count }}</td>
                    <td>{{ venue.last_played|date:"Y.m.d" }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

        <hr/>
    </div>
{% endblock %}
