{% extends 'base.html' %}
{% load date_extras %}
{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawWeedayDistribution);
        google.charts.setOnLoadCallback(drawMonthDistribution);
        google.charts.setOnLoadCallback(drawYearsDistribution);
        google.charts.setOnLoadCallback(drawGeoDistribution);
        google.charts.setOnLoadCallback(drawOriginalsDistribution);

        {% if shows.count >= 1 %}

            function drawOriginalsDistribution() {

                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Count'],

                    ['Originals', {{ originals_played_count }}],
                    ['Covers', {{ others_played_count }}],

                ]);

                var options = {
                    titleTextStyle: {
                        fontSize: 20,
                        fontName: 'Calibri'
                    },
                    title: 'Originals / Covers Distribution (Non-Unique)',
                    legend: {textStyle: {fontSize: 16}},
                    chartArea:{left:10,top:50,width:"100%",height:"100%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('originalsChart'));

                chart.draw(data, options);
            }

            function drawWeedayDistribution() {

                var data = google.visualization.arrayToDataTable([
                    ['Weekday', 'Count'],
                    {% for weekday in weekdays_distribution|dictsort:"weekday" %}

                        ['{{ weekday.weekday|weekday_name }}', {{ weekday.count }}],

                    {% endfor %}
                ]);

                var options = {
                    titleTextStyle: {
                        fontSize: 20,
                        fontName: 'Calibri'
                    },
                    title: 'Weekday Distribution',
                    legend: {textStyle: {fontSize: 16}},
                    chartArea:{left:10,top:50,width:"100%",height:"100%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('weekdayChart'));

                chart.draw(data, options);
            }

            function drawMonthDistribution() {

                var data = google.visualization.arrayToDataTable([
                    ['Month', 'Count'],
                    {% for month in months_distribution|dictsort:"month" %}

                        ['{{ month.month|month_name }}', {{ month.count }}],

                    {% endfor %}
                ]);

                var options = {
                    titleTextStyle: {
                        fontSize: 20,
                        fontName: 'Calibri'
                    },
                    title: 'Month Distribution',
                    legend: {textStyle: {fontSize: 16}},
                    chartArea:{left:10,top:50,width:"100%",height:"100%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('monthChart'));

                chart.draw(data, options);
            }

            function drawYearsDistribution() {
                var data = google.visualization.arrayToDataTable([
                    ['Year', 'Count'],
                    {% for year in years_distribution %}

                        ['{{ year.0 }}', {{ year.1 }}],

                    {% endfor %}


                ]);

                var options = {
                    titleTextStyle: {
                        fontSize: 20,
                        fontName: 'Calibri'
                    },
                    title: 'Year Distribution (By Count)',
                    hAxis: {titleTextStyle: {color: '#333'}},
                    vAxis: {minValue: 0},
                    legend: { position: 'none' },
                    chartArea: {
                        top: 30,
                        bottom: 30,
                        left: 30,
                        right: 30,
                    }

                };

                var chart = new google.visualization.SteppedAreaChart(document.getElementById('yearChart'));
                chart.draw(data, options);
            }

            function drawGeoDistribution() {
                var data = google.visualization.arrayToDataTable([
                    ['State', 'Count'],
                    {% for state in geo_distribution %}

                        ['{{ state.venue__state }}', {{ state.count }}],

                    {% endfor %}
                ]);

                var options = {
                    titleTextStyle: {
                        fontSize: 20,
                        fontName: 'Calibri'
                    },
                    region: "US",
                    resolution: "provinces",
                    colorAxis: {colors: ['#E74C3C', '#28B463']},
                    datalessRegionColor: '#641E16',
                    defaultColor: '#f5f5f5',
                };

                var geochart = new google.visualization.GeoChart(
                    document.getElementById('geoChart'));
                geochart.draw(data, options);
            }

        {% endif %}

    </script>

{% endblock %}

{% block title %}Stats{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">

            <h1> {{ stats_name }} | {{ shows.count }} Shows | {{ song_count.song_count }} Unique Songs

            </h1>

        </div>

        <hr/>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#test" style="text-decoration : none">
                            <span class="glyphicon glyphicon-triangle-bottom"></span><b>&nbsp;&nbsp;Shows Meeting Criteria

                            {% if get_request_stats %}
                                |
                                {% for item in get_request_stats %}

                                    {{ item.0|title }}: {{ item.1|title }}

                                    {% if not forloop.last %}
                                        |
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </b></a>
                    </h4>
                </div>
                <div id="test" class="panel-collapse collapse">
                    <ul class="list-group">
                        {% for show in shows %}
                            <li class="list-group-item"><b><a href="/setlist/{{ show.id }}" title="{{ show }}">
                                {{ show.date|date:"Y.m.d"}} </a>
                                :: {{ show.venue.name }} :: {{ show.venue.city }}, {{ show.venue.state }}
                                :: {{ show.venue.country }}</b></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


        {% if shows.count >= 1 %}

            <hr/>
            <div id="yearChart" style="width: 100%; height: 400px;"></div>

            <hr/>
            <h3>Geographic Distribution (By Count)</h3>
            <h5>Dark Red :: No Shows</h5>
            <div id="geoChart" style="width: 100%; height: 100%;"></div>

            <hr/>
            <div id="weekdayChart" style="width: 100%; height: 300px;"></div>

            <hr/>
            <div id="monthChart" style="width: 100%; height:360px;"></div>

            <hr/>
            <div id="originalsChart" style="width: 100%; height: 300px;"></div>

        {% endif %}


    </div>
{% endblock %}

