{% extends 'base.html' %}

{% block title %}Stats{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h1>Stats | {{ shows.count }} Shows</h1>

        </div>
        <hr/>

        <p>
        <h1>Song Count : {{ song_count.song_count }}</h1>
        </p>
        <p>
        <h1>Weekday distribution</h1>
        <ul>
            {% for weekday in weekdays_distribution %}
                <li>{{ weekday.weekday }} | {{ weekday.count }}</li>
            {% endfor %}
        </ul>
        <h1>Month distribution</h1>
        <ul>
            {% for month in months_distribution %}
                <li>{{ month.month }} | {{ month.count }}</li>
            {% endfor %}
        </ul>
        <h1>Year distribution</h1>
        <ul>
            {% for year in years_distribution %}
                <li>{{ year.year }} | {{ year.count }}</li>
            {% endfor %}
        </ul>

        <h1>Shows</h1>
        <p>
        <ul>
            {% for show in shows %}
                <li><a href="/setlist/{{ show.id }}">{{ show.date.year }}.{{ show.date.month }}.{{ show.date.day }}</a>
                </li>
            {% endfor %}
        </ul>

        </p>


    </div>
{% endblock %}

