{% extends 'base.html' %}

{% block title %}{{ year }} Shows{% endblock %}

{% block content %}

    <div class="container">

        <div class="header">
            <h2>{{ year }} Shows | {{ show_count }}</h2>
        </div>
        &nbsp;
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            {% for yr in years_list %}
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/setlists/{{yr.year}}" class="btn btn-default" role="button"><b>{{ yr.year }}</b></a>
                </div>
            {% endfor %}
        </div>

        <hr>
        {# build panel for each show #}
        {% for show in shows %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {# heading for each show panel #}
                    <b><a href="/setlist/{{ show.id }}" title="{{ show }}">
                        {{ show.date.year }}.{{ show.date.month }}.{{ show.date.day }} </a>
                        | {{ show.venue.name }}, {{ show.venue.city }}, {{ show.venue.state }}, {{ show.venue.country }}
                    </b>
                </div>

                {# generate song output for each panel #}
                <div class="panel-body">

                    {% include 'sub/_show.html' %}

                    </p>
                </div>
                {# panel footer for notes #}
                <div class="panel-footer" style="font-size:11.5px">
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}