{% extends 'base.html' %}

{% block title %}{{ show.date|date:"Y.m.d" }}{% endblock %}

{% block content %}

    <div class="container">
        <br>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            {% for yr in years_available %}
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/setlists/{{ yr.year }}" class="btn btn-default" role="button"><b>{{ yr.year }}</b></a>
                </div>
            {% endfor %}
        </div>
        <br>
        {# show title at top of page #}
        <div class="header">
            <h2><a title="{{ show.date|date:"l" }}">{{ show.date|date:"Y.m.d" }}</a> :: {{ show.venue.name }}
                :: {{ show.venue.city }}
                {% if show.venue.state == None %}
                    :: {{ show.venue.country }}</h2>
                {% else %}
                    , {{ show.venue.state }} :: {{ show.venue.country }}
                {% endif %}
        </div>
        <hr/>
        <div>

            {% include 'sub/_show.html' %}
        </div>

        <hr/>

    </div>

{% endblock %}