{% extends 'base.html' %}

{% block title %}{{ show.date|date:"Y.m.d" }}{% endblock %}

{% block content %}

    <div class="container">

        {# show title at top of page #}
        <div class="header">
            <h2><a title="{{ show.date|date:"l" }}">{{ show.date|date:"Y.m.d" }}</a> :: {{ show.venue.name }}
                :: {{ show.venue.city }}, {{ show.venue.state }} :: {{ show.venue.country }}</h2>
        </div>
        <hr/>
        <div>

            {% include 'sub/_show.html' %}
        </div>

    </div>

{% endblock %}