{% extends 'base.html' %}
{% block title %}Social Login{% endblock %}
{% block content %}

    <div class="container">

        <h1>
            Social Auth
        </h1>
    <h4>Please Login to use this site feature.</h4>
        <hr/>

        {% if user.is_authenticated %}

            <h3>Welcome {{ user.username }}! You are already logged in.</h3><br>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><a href="/sitelogin/logout/">Logout</a></button>
                <button type="button" class="btn btn-default"><a href="">Edit User Profile</a></button>
            </div>



        {% else %}

            <a href="{% url "social:begin" "facebook" %}"><i class="btn btn-block btn-social btn-facebook"></i>
                <span class="fa fa-facebook"></span> Facebook
            </a>

            <a href="{% url "social:begin" "google-oauth2" %}"><i class="btn btn-block btn-social btn-google"></i>
                <span class="fa fa-google"></span> Google
            </a>

            <a href="{% url "social:begin" "twitter" %}"><i class="btn btn-block btn-social btn-twitter"></i>
                <span class="fa fa-twitter"></span> Twitter
            </a>

        {% endif %}


        <hr/>
    </div>



{% endblock %}