{% extends 'base.html' %}

{% block title %}Songs{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h2>Songs | {{ song_count }} | <span class="label label-default">Originals | {{ originals_count }}</span>
                <span class="label label-default">Covers | {{ covers_count }}</span></h2>
            <h3></h3>
        </div>
        <hr/>

        <table class="table table-hover">
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Last Played</th>
                <th>First Played</th>
                <th>Times Played</th>
            </tr>

            {% for song in songs %}

                <tr>
                    <td><a href="/songs/{{ song.id }}" title="{{ song.name }}">{{ song.name }}</a></td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album.title }}</td>
                    <td>{{ song.last_played|date:"Y.m.d" }}</td>
                    <td>{{ song.first_played|date:"Y.m.d" }}</td>
                    <td>{{ song.play_count }}</td>

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
