{% extends 'base.html' %}

{% block title %}Songs{% endblock %}


{% block content %}

    <script>
        $(document).ready(function() {
            $('#example').DataTable(
                {
                    paging: false,
                    "info": false,
                    "order": [ 5, 'desc']
                }
            );
        } );
    </script>

    <div class="container">
        <div class="header">
            <h1>Songs | {{ song_count }} | <span class="label label-default">Originals | {{ originals_count }}</span>
                <span class="label label-default">Covers | {{ covers_count }}</span></h1>
        </div>
        <table id="example" class="table table-striped table-bordered dt-responsive" style="width:100%; cursor:pointer">
            <thead>
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Last Played</th>
                <th>First Played</th>
                <th>Times Played</th>
            </tr>
            </thead>

            <tbody>
            {% for song in songs %}
                <tr>
                    <td><a href="/songs/{{ song.id }}" title="{{ song.name }}">{{ song.name }}</a></td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album.title }}</td>
                    <td>{{ song.last_played|date:"Y.m.d" }}</td>
                    <td>{{ song.first_played|date:"Y.m.d" }}</td>
                    <td>{{ song.play_count }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

        <hr/>
    </div>
{% endblock %}
