{% extends 'base.html' %}
{% load date_extras %}
{% block title %}{{ song_name }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawYearHeatChart);
        google.charts.setOnLoadCallback(drawWeekdayHeatChart);
        google.charts.setOnLoadCallback(drawMonthHeatChart);
        google.charts.setOnLoadCallback(drawStateHeatChart);

        function drawYearHeatChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', '%'],
                {% for year in song_year_heat %}

                    ['{{ year.0 }}', {{ year.1 }}],

                {% endfor %}

            ]);

            var options = {
                titleTextStyle: {
                    fontSize: 18,
                    fontName: 'Ubuntu'
                },
                title: 'Years Heat Chart (By Percentage)',
                vAxis: {minValue: 0,
                    format: '#\'%\''},
                legend: { position: 'none' },
                isStacked: true,
                chartArea: {
                    top: 30,
                    bottom: 30,
                    left: 50,
                    right: 50,
                }
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('yearChart'));

            chart.draw(data, options);
        }
        function drawWeekdayHeatChart() {
            var data = google.visualization.arrayToDataTable([
                ['Weekday', '%'],
                {% for weekday in song_weekday_heat %}

                    ['{{ weekday.0|weekday_name }}', {{ weekday.1 }}],

                {% endfor %}

            ]);

            var options = {
                titleTextStyle: {
                    fontSize: 18,
                    fontName: 'Ubuntu'
                },
                title: 'Weekdays Heat Chart (By Percentage)',
                vAxis: {minValue: 0,
                    format: '#\'%\''},
                legend: { position: 'none' },
                isStacked: true,
                chartArea: {
                    top: 50,
                    bottom: 30,
                    left: 50,
                    right: 50,
                }
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('weekdayChart'));

            chart.draw(data, options);
        }
        function drawMonthHeatChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', '%'],
                {% for month in song_month_heat %}

                    ['{{ month.0|month_name }}', {{ month.1 }}],

                {% endfor %}

            ]);

            var options = {
                titleTextStyle: {
                    fontSize: 18,
                    fontName: 'Ubuntu'
                },
                title: 'Month Heat Chart (By Percentage)',
                vAxis: {minValue: 0,
                    format: '#\'%\''},
                legend: { position: 'none' },
                isStacked: true,
                chartArea: {
                    top: 50,
                    bottom: 30,
                    left: 50,
                    right: 50,
                }
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('monthChart'));

            chart.draw(data, options);
        }

        function drawStateHeatChart() {
            var data = google.visualization.arrayToDataTable([
                ['State', 'Percentage'],
                {% for state in song_state_heat %}

                    ['{{ state.0 }}', {{ state.1 }}],

                {% endfor %}
            ]);

            var options = {
                titleTextStyle: {
                    fontSize: 18,
                    fontName: 'Ubuntu'
                },
                region: "US",
                resolution: "provinces",
                colorAxis: {colors: ['#E74C3C', '#28B463']},
                datalessRegionColor: '#641E16',
                defaultColor: '#f5f5f5',

            };

            var geochart = new google.visualization.GeoChart(
                document.getElementById('geoChart'));
            geochart.draw(data, options);
        }

    </script>
{% endblock %}


{% block content %}
    <script>
        $(document).ready(function() {
            $('#example').DataTable(
                {
                    paging: false,
                    "info": false,
                    "order": [ 0, 'desc']
                }
            );
        } );
    </script>

    <div class="container">
        <div class="header">
            <h1>{{ song_name }} | {{ show_count }} | <a href="/stats/?song={{ song_name }}">
                <button type="button" class="btn btn-secondary btn-sm">STATS</button>
            </a></h1>
            <h3><span class="label label-default">Avg Show Gap | {{ avg_gap }}</span></h3>
        </div>
        <hr/>

        <div>

            <div id="yearChart" style="width: 100%; height: 250px;"></div>
            <div id="weekdayChart" style="width: 100%; height: 250px;"></div>
            <div id="monthChart" style="width: 100%; height: 250px;"></div>
            <hr/>
            <h3>Geographic Heat Chart (By Percentage)</h3>
            <h5>Dark Red :: No Shows Ever Played</h5>
            <div id="geoChart" style="width: 100%; height: 100%;"></div>

        </div>

        <hr/>

        <table id="example" class="table table-striped table-bordered dt-responsive" style="width:100%; cursor:pointer">

            <thead>
            <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Show Gap</th>
            </tr>
            </thead>
            <tbody>
            {% for show in show_list|dictsortreversed:"date" %}
                <tr>
                    <td>
                        <a href="/setlist/{{ show.show_id }}">{{ show.date|date:"Y.m.d" }}</a>
                    </td>
                    <td>{{ show.venue }}</td>
                    <td>{{ show.city }}</td>
                    {% if show.state %}
                        <td>{{ show.state }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ show.country }}</td>
                    <td>{{ show.show_gap }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
