{% extends 'base.html' %}

{% block title %}{{ song_name }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawYearHeatChart);

        function drawYearHeatChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Percentage'],
                {% for year in song_year_heat %}

                    ['{{ year.0 }}', {{ year.1 }}],

                {% endfor %}

            ]);

            var options = {
                title: '% of Shows Played Per Year',
                vAxis: {minValue: 0,
                    format: '#\'%\''},
                legend: { position: 'none' },
                isStacked: true
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('yearChart'));

            chart.draw(data, options);
        }
    </script>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h1>{{ song_name }} | {{ show_count }} | <a href="/stats/?song={{ song_name }}">
                <button type="button" class="btn btn-secondary btn-sm">STATS</button>
            </a></h1>
            <h3><span class="label label-default">Avg Show Gap | {{ avg_gap }}</span></h3>
        </div>
        <hr/>

        <div>

            <div id="yearChart" style="width: 100%; height: 300px;"></div>

        </div>


        <table class="table table-hover">
            <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Show Gap</th>
            </tr>
            {% for show in show_list|dictsortreversed:"date" %}
                <tr>
                    <td>
                        <a href="/setlist/{{ show.show_id }}">{{ show.date.year }}.{{ show.date.month }}.{{ show.date.day }}</a>
                    </td>
                    <td>{{ show.venue }}</td>
                    <td>{{ show.city }}</td>
                    {% if show.state %}
                        <td>{{ show.state }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ show.country }}</td>
                    <td>{{ show.show_gap }}</td>
                </tr>
            {% endfor %}
        </table>

        {{ plays_per_year }}
        {{ shows_per_year }}
    </div>
{% endblock %}
