{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h1>Login</h1>
        </div>
        <hr />

        <!-- templates/registration/login.html -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-group" role="group" aria-label="...">
                <button type="submit" class="btn btn-default" role="button"><b>Login</b></button>
                <a href="/signup" class="btn btn-default" role="button"><b>Signup</b></a>
            </div>
        </form>

    </div>
{% endblock %}
