{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

    {% load static %}


    <div class="container">

        <h1>
            About
        </h1>

        <hr/>

        <h3>
            Welcome to squaresandcubes.net!
        </h3>
        <br>
        <font size="3">
            <p>
                This site was created to provide the STS9 community with a comprehensive setlist archive, personal attendance
                tracking, and statistical data.
            <p>
                The ability to track your personal attended shows/statistics can be achieved by logging in via <b>Social Auth
                (Facebook, Google, or Twitter)</b> using the 'Login' Dropdown Menu at the Top Right of the page on the Nav Bar.
                Upon login you should see your username appear as the dropdown name and it will contain links to
                'MyStats' and 'MyShows'.
            <p>
                Local accounts are not supported
                for security reasons.  It makes the site easier to manage, more convenient for the end user to quickly login,
                and much safer as passwords are not stored on the site.
            <p>
                It is worth mentioning that as of right now Mobile access is supported but needs much improvement.
                At this point in time I can not guarantee it will look good or be functional in every respect.
                Viewing the site on an iPad or some other Tablet would be pretty good right now however.  I do plan on supporting
                mobile fully in the future but there is alot of frontend work to be done.  Alot of the charts and things are
                just too detailed and big to fit on small screens so I will be making mobile specific pages at some point.
            </p>
            <p>
                Also, if you didn't notice you are able to sort any table on the site by any column. Not sure how obvious
                that was. If you hover over a date, it will give you the day of the week.
            </p>
        </font>
        <hr/>

        <h3>
            Stats Info
        </h3>
        <br>
        <font size="3">
            <P>
                For the most part the statistics are self explanatory and similar to other sites except for <b>Heat Charts</b>
                you will find in the <b>Songs Section</b>.
            <p>
                Through my research and development of the site, data model, and comparison to other sites I was finding
                Chronologically and Geographically Skewed statistics in
                regards to Song Occurrences. Using the song Kamuy as an example, in the Year 2005 it was played 33
                times and in 2012, 15 times.
                Looking at a typical 'Count Based', Occurrences by Year chart, this would lead you to believe that they
                really liked to play that song in 2005 but in
                reality the data is skewed because the total shows they played in 2005 (94 Shows) was significantly more
                than in 2012 (38 Shows). To solve this bias, 'Heat
                Charts' provide a very meaningful representation of the data because they showcase the frequency of a
                song by a percentage factor of total shows that Year.
                According to the Heat Chart, Kamuy was
                played @ 35% of the shows in 2005, and @ 39% of shows in 2012. So you can see from this information that
                they were playing that song just as much
                both Years relative to how many shows they played each Year.
            <p>
                This same concept is also applied to the 'Weekdays Heat Chart', 'Month Heat Chart', and 'Geo Heat Chart'
                because just like Years;  <i>Weekdays, Months, and Locations</i> all have disproportionate
                amounts of total shows played. For example Friday and Saturday make up 50% of all of the shows STS9
                has ever played.  March, April, September, and October make up
                almost 50% of all shows played, and finally California, Colorado, and Georgia make up 30% of total shows
                played. Therefore it is very important when running statistics involving the
                distribution of a particular song you take these things into account.
                These are very interesting charts as you can visually examine trends of when and where the band most likely
                plays certain songs.
                For example, for whatever reason they play 'Rent' @ 1 out of every 3 (33%) shows in August
                which is quite significantly more than any other Month. Another interesting one is that they play
                '...And Some Are Angels' @ 21% of shows on Tuesdays.
            </P>
        </font>
        <hr/>
        <h3>
            History / Technology
        </h3>

        <br>
        <font size="3">
            <p>
                I <a href="mailto:movemypeeps9@gmail.com">Brent Vaalburg</a> came up with the Idea in Summer 2016; began
                researching web frameworks and back-end programming languagues.  I then decided on using Python/Django
                because it is highly customizable, has good community support, extensive documentation, and has been around
                for long enough to know it is not going anywhere.  Also, because of Python's ability
                to deal with Data and Mathematical operations well in conjunction with great libraries such as numPy. Next
                I built custom data scraping tools and started scraping data from various sources for the project.
                The most important part of the project was creating a custom data model in Django specific to patterns that
                arise with STS9's setlist data. Originally I had used a MySQL DB but after dealing with several issues
                regarding Database functionality and featuresets I decided to migrate to PostgreSQL which was probably one
                of the better decisions I made as it allowed for quite a bit more functionality in accessing and updating
                this particular dataset.

            </p>

        </font>
        <br>

        <div class="container">

            <h4>Current Stack</h4>
            <div class="row">
                <div class="col-sm-6">
                    <font size="3">
                        <p>

                            <b>Ubuntu 18.04 LTS</b> (Linux OS)
                            <br>
                            <b>Python 3.7</b> (Backend Language)
                            <br>
                            <b>PostgreSQL</b> (Relational Database)
                            <br>
                            <b>Django 2.2</b> (Backend Framework in Python)
                            <br>
                            <b>Gunicorn</b> (Python WSGI Server)
                            <br>
                            <b>NGINX</b> (HTTP Server)
                            <br>
                            <b>HTML/CSS/JavaScript/Bootstrap</b> (Frontend Languages and Frameworks)

                        </p>
                    </font>
                </div>
                <div class="col-sm-6">
                    <a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing"></a>
                </div>
                <div class="col-sm-6">
                    <img src="{% static 'images/tech_stack/python-logo-generic.svg' %}" vspace="20" width="50%" alt="Python">
                </div>
            </div>
        </div>


        <hr/>

        <img src="{% static 'images/tech_stack/Ubuntu.png' %}" alt="Ubuntu" width="10%" height="10%" hspace="2">
        <img src="{% static 'images/tech_stack/postgres.png' %}" alt="PostgreSQL" width="13%" height="13%" hspace="2">
        <img src="{% static 'images/tech_stack/Django.png' %}" alt="Django" width="10%" height="10%" hspace="2">
        <img src="{% static 'images/tech_stack/gunicorn.jpg' %}" alt="Gunicorn" width="12%" height="12%" hspace="2">
        <img src="{% static 'images/tech_stack/nginx.png' %}" alt="NGINX" width="13%" height="13%" hspace="2">
        <img src="{% static 'images/tech_stack/html.png' %}" alt="HTML" width="10%" height="10%" hspace="2">
        <img src="{% static 'images/tech_stack/CSS.png' %}" alt="CSS" width="10%" height="10%" hspace="2">
        <img src="{% static 'images/tech_stack/javascript.png' %}" alt="JavaScript" width="8%" height="8%" hspace="2">
        <img src="{% static 'images/tech_stack/Bootstrap.png' %}" alt="Bootstrap" width="8%" height="8%" hspace="2">


        <hr/>


        <h3>
            Long Term Goals
        </h3>
        <font size="3">
            <p>
                Many More Additional Statistics<br>
                Song Bustout Potentials<br>
                News Feed<br>
                User Comments<br>
                Setlist Prediction | AI/Machine Learning (Google's TensorFlow for Python)<br>
            </p>
        </font>


    </div>



{% endblock %}