{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

    {% load static %}


    <div class="container">

        <h1>
            About
        </h1>

        <hr/>

        <h3>
            Welcome to squaresandcubes.net!
        </h3>
        <br>
        <p>
            This site was created to serve the STS9 community providing a means for archiving and providing statistical
            data
            on setlists.
        <p>
            You will also find the option to track your personal shows/statistics by logging in via Social Auth
            (Facebook, Google, or Twitter) and navigating to the myShows and myStats links.
        <p>
            Local accounts are not supported
            for security reasons. It makes the site easier to manage and much safer for the end users as passwords are
            not stored on the site.
        </p>
        <hr/>

        <h3>
            Stats Info
        </h3>
        <br>
        <P>
            For the most part the statistics are self explanatory and similar to other sites except for what I mention
            below.
        <p>
            The most notable type of stats that differ from other typical setlist tracking sites is the 'Heat Charts'
            you will find for specific songs.
        <p>
            Through my research and development of the site, data model, and comparison to other sites I was finding
            chronologically skewed data in
            regards to song occurrences. Using the song Kamuy as an example, in the year 2005 it was played 33 times and
            in 2012, 15 times.
            Looking at a typical 'Count Based', Occurrences by year chart this would lead you to believe that they
            really
            liked to play that song in 2005 but in
            reality the data is skewed because the total shows they played in 2012 (38 Shows) was significantly less
            than in 2005 (94 Shows). To solve this, 'Heat
            Charts' provide a much more accurate representation of the data because they showcase the frequency of a
            song
            by a percentage factor of total shows that year.
            According to the Heat Chart, Kamuy was
            played @ 35% of the shows in 2005, and @ 39% of shows in 2012. So you can see from this information that
            they were playing that song just as much
            both years relative to how many shows they played each year.
        <p>
            This same concept is also applied to the 'Weekdays Heat Chart', and the 'Month Heat Chart' because just like
            years, weekdays and certain months have disproportionate
            amounts of total shows played. For example Saturday and Sunday make up 50% of all of the shows STS9
            has ever played. Also, March, April, September, and October make up
            almost 50% of all shows played. Therefore it is very important when running statistics involving the
            distribution of a particular song you take these things into account.
            These are very interesting charts as you can visually examine trends of when the band plays certain songs.
            For
            example, for whatever reason they play 'Rent' @ 1 out of every 3 (33%) shows in August
            which is quite significantly more than any other month. Another interesting one is that they play
            '...And Some Are Angels' @ 22% of shows on Wednesdays. You could potentially use these charts to increase
            the
            probability of seeing that song played live you are chasing.
        </P>
        <hr/>
        <h3>
            History / Tech Stack
        </h3>

        <br>

        <p>
            I <a href="mailto:movemypeeps9@email.com">Brent Vaalburg</a> came up with the Idea in Summer 2016 and began
            researching web frameworks and backend programming languagues. I then decided on using Python/Django because
            of
            its popularity, community support, and extensive documentation. Also, because of Python's ability
            to deal with Data and Mathematical operations well in conjunction with great libraries such as numPy. I then
            began building custom
            data scraping tools and began scraping
            data from various sources for the project. The most important part of the project was creating a custom
            data model in Django specific to patterns that arise with STS9's setlist data. Originally I had used a MySQL
            DB but after
            dealing with several issues regarding Database functionality and featuresets I decided to migrate to
            PostgreSQL which was probably one of the better decisions I made as it allowed for quite a bit more
            functionality in accessing and updating this particular dataset.

        <p>
            The Stack:
        </p>
        <p>
            Linux(Ubuntu 18.04)
            <br>
            PostgreSQL 10.6 (Relational DB)
            <br>
            Gunicorn (Python WSGI HTTP Server)

            <br>
            Django 2.1.3 (Backend Framework in Python)
            <br>
            HTML/CSS/JavaScript/Bootstrap (Frontend)
        </p>

        <hr/>

        <img src="{% static 'images/tech_stack/Ubuntu.png' %}" width="10%" height="10%" hspace="5">
        <img src="{% static 'images/tech_stack/postgres.png' %}" width="13%" height="13%" hspace="3">
        <img src="{% static 'images/tech_stack/Django.png' %}" width="10%" height="10%" hspace="3">
        <img src="{% static 'images/tech_stack/gunicorn.jpg' %}" width="13%" height="13%" hspace="5">
        <img src="{% static 'images/tech_stack/html.png' %}" width="10%" height="10%" hspace="5">
        <img src="{% static 'images/tech_stack/CSS.png' %}" width="10%" height="10%" hspace="5">
        <img src="{% static 'images/tech_stack/javascript.png' %}" width="10%" height="10%" hspace="5">
        <img src="{% static 'images/tech_stack/Bootstrap.png' %}" width="8%" height="8%" hspace="5">

        <hr/>


        <h3>
            Long Term Goals
        </h3>
        <p>
            Many More Additional Statistics<br>
            Song Bustout Potentials<br>
            News Feed<br>
            User Comments<br>
            Setlist Prediction w/ AI/Machine Learning (Google's TensorFlow for Python)<br>
        </p>


    </div>



{% endblock %}