{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="container">

        {% if user.is_authenticated %}

            <h2>
                squaresandcubes | {{ user.username }}'s Home
            </h2>
            <hr/>

        {% else %}

            <h2>
                squaresandcubes | STS9 Setlists & Statistics
            </h2>
            <hr/>


            <div class="jumbotron">


                <h3>Welcome to squaresandcubes.net! Thank's for visiting!</h3>
                <hr/>
                <h4>This site was recently launched.  The site was extensively tested, however it would be surprising
                    if no bugs arise; Which is why I need your help with feedback! Please contact the
                    <a href="mailto:movemypeeps9@email.com">Administrator</a> with any issues that may arise. Thanks!
                </h4>
                <h4>
                    Please head over to the <b>'About'</b> section to learn about the site and how to use it or click
                    <b>'Login'</b> on the navbar to start tracking your shows.
                </h4>

            </div>


        {% endif %}


        <h3>Latest Show</h3>


        <div class="panel panel-default">
            <div class="panel-heading">
                {# heading for each show panel #}
                <b><a href="/setlist/{{ show.id }}" title="{{ show.date|date:"l" }}">
                    {{ show.date|date:"Y.m.d"}} </a>
                    :: {{ show.venue.name }} :: {{ show.venue.city }}, {{ show.venue.state }}
                    :: {{ show.venue.country }}
                </b>
            </div>

            {# generate song output for each panel #}
            <div class="panel-body">

                {# imports show display template #}
                {% include 'sub/_show.html' %}

            </div>
            {# panel footer for notes #}
            <div class="panel-footer" style="font-size:11.5px">


            </div>
        </div>

        <h3>On This Date In History</h3>

        {% for show in today_in_history %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {# heading for each show panel #}
                    <b><a href="/setlist/{{ show.id }}" title="{{ show.date|date:"l" }}">
                        {{ show.date|date:"Y.m.d"}} </a>
                        :: {{ show.venue.name }} :: {{ show.venue.city }}, {{ show.venue.state }}
                        :: {{ show.venue.country }}
                    </b>
                </div>

                {# generate song output for each panel #}
                <div class="panel-body">

                    {# imports show display template #}
                    {% include 'sub/_show.html' %}

                </div>
                {# panel footer for notes #}
                <div class="panel-footer" style="font-size:11.5px">


                </div>
            </div>


            <hr/>
        {% endfor %}




    </div>


{% endblock %}