{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Show List{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h3>{{ user.username }}'s Shows</h3>
        </div>
        <hr/>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-default" role="button"><b>Save Changes</b></button>
            <p>
                {% for show in user_profile_form.shows %}
                    <br>
                    {{ show }}
                {% endfor %}
            </p>
            <button type="submit" class="btn btn-default" role="button"><b>Save Changes</b></button>
            <p>

            </p>
        </form>
    </div>
{% endblock %}
