{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Show List{% endblock %}


{% block content %}

    <div class="container">
        <div class="header">
            <h1>{{ user.username }}'s Shows</h1>
        </div>
        <hr />

        <form method="post">
            {% csrf_token %}
            <button type="submit">Save changes</button>
            <p>
                {{ user_profile_form.as_p }}
            </p>
            <button type="submit">Save changes</button>
        </form>
    </div>
{% endblock %}
